html {
  font-size: 62.5%;
}

body {
  font-family: $primary-font;
  font-size: 1.6rem;
  line-height: lineHeight(24, 16);
  color: $heading-text-color;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $heading-text-color;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  outline: none;
  color: $gray-color;
  font-weight: 500;
  background: transparent;
}